{#
/**
 * @file
 * Custom template for Menu field in Campaign pages.
 */
#}

{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}

{#original parade/campaign sites hamurger icon#}
{#<button id="hamburger" class="hamburger hamburger--collapse" type="button">#}
  {#<span class="hamburger-box">#}
    {#<span class="hamburger-inner"></span>#}
  {#</span>#}
{#</button>#}

{{ attach_library('tieto_admin/menuspy') }}

<nav id="campaign-menu" {{ attributes.addClass(classes, 'campaign-menu navigation-menu') }}>
  <ul id="nav-menu-link-list" class="nav-menu-link-list">
    {% for item in items %}
      <li{{ item.attributes.addClass('campaign-menu-link nav-menu-link') }}>{{ item.content }}</li>
    {% endfor %}
    <li class="campaign-menu-link tieto-com-link"><a href="//www.tieto.com">www.tieto.com</a></li>
  </ul>

  <div id="hamburger" class="hamburger-menu-toggler">
    <span class="animated-hamburger-menu"></span>
  </div>

  <ul class="slide-in-menu">
    {% for item in items %}
      <li class="nav-menu-link-container slide-in-menu-link visible-mobile">{{ item.content }}</li>
    {% endfor %}
    <li class="nav-menu-link-container slide-in-menu-link">
      <div class="nav-menu-link" data-selected="0">
        <strong>What we do</strong>
      </div>
      <div class="sub-links-slider">
        <div class="nav-menu-sub-link-container slide-in-menu-link">
          <a class="nav-menu-sub-link" data-selected="0" href="https://www.tieto.com/en/what-we-do/digital-experience-and-consulting/">
            Digital experience and consulting
          </a>
          <a class="nav-menu-sub-link" data-selected="0" href="https://www.tieto.com/en/what-we-do/industry-solutions-and-software/">
            Industry solutions and software
          </a>
          <a class="nav-menu-sub-link" data-selected="0" href="https://www.tieto.com/en/what-we-do/software-research-and-development-services/">
            Software R&D services
          </a>
          <a class="nav-menu-sub-link" data-selected="0" href="https://www.tieto.com/en/what-we-do/cloud-transformation/">
            Cloud transformation
          </a>
          <a class="nav-menu-sub-link" data-selected="0" href="https://www.tieto.com/en/what-we-do/data-and-ai/">
            Data and AI
          </a>
          <a class="nav-menu-sub-link" data-selected="0" href="https://www.tieto.com/en/what-we-do/managed-services-and-integration/">
            Managed services and integration
          </a>
        </div>
      </div>
    </li>
    <li class="nav-menu-link-container slide-in-menu-link">
      <div class="nav-menu-link" data-selected="0">
        <strong>Who we serve</strong>
      </div>
      <div class="sub-links-slider">
        <div class="nav-menu-sub-link-container slide-in-menu-link">
          <a class="nav-menu-sub-link" data-selected="0" href="https://www.tieto.com/en/who-we-serve/financial-services/">
            Financial services
          </a>
          <a class="nav-menu-sub-link" data-selected="0" href="https://www.tieto.com/en/who-we-serve/healthcare-and-welfare/">
            Healthcare and welfare
          </a>
          <a class="nav-menu-sub-link" data-selected="0" href="https://www.tieto.com/en/who-we-serve/public-sector/">
            Public sector
          </a>
          <a class="nav-menu-sub-link" data-selected="0" href="https://www.tieto.com/en/who-we-serve/telecom-and-media/">
            Telecom and media
          </a>
          <a class="nav-menu-sub-link" data-selected="0" href="https://www.tieto.com/en/who-we-serve/energy-oil-and-gas/">
            Energy, oil and gas
          </a>
          <a class="nav-menu-sub-link" data-selected="0" href="https://www.tieto.com/en/who-we-serve/forest-pulp-and-paper/">
            Forest, pulp and paper
          </a>
          <a class="nav-menu-sub-link" data-selected="0" href="https://www.tieto.com/en/who-we-serve/industrial-services-and-automotive/">
            Industrial services and automotive
          </a>
          <a class="nav-menu-sub-link" data-selected="0" href="https://www.tieto.com/en/who-we-serve/retail-and-consumer-services/">
            Retail and consumer services
          </a>
        </div>
      </div>
    </li>
    <li class="nav-menu-link-container slide-in-menu-link">
      <div class="nav-menu-link" data-selected="0">
        <a class="menu__link" href="https://www.tieto.com/en/careers/">
          <strong>Careers</strong>
        </a>
      </div>
    </li>
    <li class="nav-menu-link-container slide-in-menu-link">
      <div class="nav-menu-link" data-selected="0">
        <a class="menu__link" href="https://www.tieto.com/en/about-us/our-company/">
          <strong>About us</strong>
        </a>
      </div>
    </li>
    <li class="nav-menu-link-container slide-in-menu-link">
      <div class="nav-menu-link" data-selected="0">
        <a href="https://www.tieto.com/en/investor-relations/" class="menu__link">
          <strong>Investor relations</strong>
        </a>
      </div>
    </li>
    <li class="nav-menu-link-container slide-in-menu-link">
      <div class="nav-menu-link" data-selected="0">
        <a href="https://www.tieto.com/en/newsroom/" class="menu__link">
          <strong>Newsroom</strong>
        </a>
      </div>
    </li>
  </ul>
</nav>
