{#
/**
 * @file
 * Include file for Tieto logo.
 *
 * Variables:
 *   tieto_logo: Associative array with these keys:
 *     logo_path: Relative path of the logo (string).
 *     alt: Logo alt text (TranslatableMarkup).
 *     href: Link href (string).
 *     dimensions: Associative array with these keys:
 *       width: Image width (integer).
 *       height: Image height (integer).
 */
#}
<a href="{{ tieto_logo.href }}" class="logo">
    <img src="{{ tieto_logo.logo_path }}" alt="{{ tieto_logo.alt }}" width="{{ tieto_logo.dimensions.width }}" height="{{ tieto_logo.dimensions.height }}">
</a>