{#
/**
 * @file
 * CHART BOXES paragraph
 */
#}
{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
'columns-' ~ parade.columns|default('3')
]
%}

{# @todo: This is only a hotfix, we need to find a better way. #}
{# E.g a separate viewmode for each layout or smth. #}
{% if 'preview' == view_mode %}
    <div{{ attributes.addClass(classes) }}>
        <div class="paragraph-inner">
        {{ content }}
        </div>
    </div>
{% else %}
    <div{{ attributes.addClass(classes) }}>
        <div class="paragraph-inner">
            {# Doughnut chart layout#}
            {% if parade.layout == "layout_doughnut_chart" %}
                <div class="doughnut-chart--left">
                    {{ content }}
                    <div class="clearfix"></div>
                </div>
                <div class="doughnut-chart--right">
                    <div class="ct-chart ct-square" id="{{ "doughnut_" ~ paragraph_id }}"></div>
                </div>
        {% endif %}

            {# Doughnut & text chart layout #}
        {% if parade.layout == "layout_doughnut_and_text_chart" %}
            {{ content }}
        {% endif %}

        {# Bar chart layout #}
        {% if parade.layout == "layout_bar_chart" %}
                <div class="horizontal-bar-chart--left">
                    {{ content._field_layout.content.parade_title }}
                </div>
                <div class="horizontal-bar-chart--right">
                    <div class="ct-chart" id="{{ "bar-chart_" ~ paragraph_id }}"></div>
                    <div class="hidden-content">{{ content }}</div>
                    <ul class="text_fields">
                        {% for item in descriptions %}
                            <li>{{ item | raw }}</li>
                        {% endfor %}
                    </ul>
                </div>
        {% endif %}

        </div>
    </div>
{% endif %}
